h3 {
    text-align: center;
}

form {
    font: 16px Colaborate-Thin;
}

input {
    margin-top: 10px;
    padding-left: 5px;
    border-radius: 5px;
    border-style: none;
}

#last {
    padding: 5px 15px;
    background: linear-gradient(#3e4852, #323b44);
}

#last:enabled {
    color: white;
    text-shadow: 1px 1px black;
}