h3 {
    text-align: center;
}

form {
    font: 16px Colaborate-Thin;
}

form span {
    font-style: italic;
}

input, textarea {
    margin-top: 10px;
    padding-left: 5px;
    border-radius: 5px;
    border-style: none;
}

#last {
    padding: 5px 15px;
}

#last:enabled {
    color: white;
    text-shadow: 1px 1px black;
}

.fileInput {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
    position: absolute;
	z-index: -1;
}

.labelBox {
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    font: 16px Colaborate-Thin;
    text-shadow: 1px 1px black;
}

.recipeAdded {
    display: inline;
    color: greenyellow;
    font: 20px Colaborate-Thin;
   /* border: 2px solid green;*/
  /*  border-radius: 5px;*/
}
