.fridge {
    display: block;
    font-size: 24px;
    text-decoration: none;
    border: 2px outset gray;
    border-radius: 20px;
    padding: 5px;
    color: white;
    text-align: center;
    margin: 10px 30px 0 30px;
}

.fridge:active, .fridge:hover {
    color: #CCC;
}

.fridge:active {
    border: 1px;
}

.thumb {
    position: fixed;
    text-align: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.6);
}

.thumb > img {
    padding-top: 10%;
    margin: auto;
    cursor: pointer;
}