#themes {
    cursor: pointer;
   /* position: relative;*/
}

.dropdown-content {
    display: none;
    position:absolute;
    margin: 0 0 0 25px;
    padding: 10px 10px 10px 30px;
    list-style-type: none;
    border-radius: 15px;
    box-shadow: 0px 1px #4f5861 inset; 
    background: -webkit-linear-gradient(#3e4852, #323b44);
    font: italic 12px droidSans;
    text-shadow: 1px 1px black;
    width: 50px;
    z-index: 5;
    
}

.dropdown-content a {
     display: block;
     margin-top: 10px;
}

#themes:hover + .dropdown-content, .dropdown-content:hover {
    display: block;
}

h1 {
    margin-bottom: 10px;
    font: 36px blackJack;
    background: -webkit-linear-gradient(#e4e4e4, #cfcfcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #11161c; 
    color: white;
}

.top {
    border-radius: 15px;
    box-shadow: 0px 1px #4f5861 inset; 
    background: -webkit-linear-gradient(#3e4852, #323b44);
    padding: 20px 30px;
    font: italic 12px droidSans;
    text-shadow: 1px 1px black;
    text-decoration: none;
}

.top a {
    color: white;
    padding-right: 15pt;
    text-decoration: none;
}

.topGradient {
    position: absolute;
    width: 60%;
    height: 70%;
    margin-top: -90px;
    background: rgba(48,57,66,1);
    background: rgba(48,57,66,1);
    background: -moz-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
    background: -webkit-gradient(radial, center  top, 0px, center center, 100%, color-stop(0%, rgba(48,57,66,1)), color-stop(59%, rgba(17,22,28,1)), color-stop(100%, rgba(17,22,28,1)));
    background: -webkit-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
    background: -o-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
    background: -ms-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
    background: radial-gradient(ellipse at center top, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303942', endColorstr='#11161c', GradientType=1 );
    background-repeat: no-repeat;
    z-index: -1;
}