#themes {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0 0 0 25px;
    padding: 10px 10px 10px 30px;
    list-style-type: none;
    border-radius: 15px;
    font: italic 12px droidSans;
    text-shadow: 1px 1px black;
    width: 50px;
    z-index: 5;
}

.dropdown-content a {
     display: block;
     margin-top: 10px;
}

#themes:hover + .dropdown-content, .dropdown-content:hover {
    display: block;
}

h1 {
    margin-bottom: 10px;
    font: 36px blackJack;
    background: -webkit-linear-gradient(#e4e4e4, #cfcfcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}

.top {
    border-radius: 15px;
    padding: 20px 30px;
    font: italic 12px droidSans;
    text-shadow: 1px 1px black;
    text-decoration: none;
    min-width: 150px;
}

.top a {
    color: white;
    padding-right: 15pt;
    text-decoration: none;
}

.topGradient {
    position: absolute;
    width: 60%;
    height: 70%;
    margin-top: -90px;
    background-repeat: no-repeat;
    z-index: -1;
}

.pizza {
    display: inline-block;
    margin-left: 10px;
}

.scrollup {
    position: fixed;
    border-radius: 5px;
    bottom: 0;
    right: 5%;
    display: none;
    text-decoration: none;
 }