.itemDetails #dots-pattern {
  position: absolute;
  margin-top: 10px;
  border-top: white 1px solid;
  box-shadow: inset 0 20px 30px -20px black;
  position: absolute;
  padding-left: 20%;
  color: black;
  background-image: url("../res/bg.jpg");
  left: 0;
  right: 0;
  background-repeat: repeat;
  z-index: -1;
}

#dots-pattern h3 {
    margin-left: -20%;
    text-align: center;
    font-size: 2em;
    font-style: italic;
}

#dots-pattern img {
    float: left;
    width: 200px;
    height: 200px;
    margin-top: -20px;
    border: 5px solid white;
    outline: #dadada solid 1px;
    cursor: pointer;
}

#dots-pattern .right {
    overflow:hidden;
    margin-top: -2%;
    margin-right: 25%;
    padding-left: 10px;
}

.right p {
    font-size: 18px;
}

.right span {
    font-weight: bold;
}