#dots-pattern {
    position: absolute;
    margin-top: 10px;
    border-top: white 1px solid;
    box-shadow: inset 0 20px 30px -20px black;
    position: absolute;
    padding-left: 20%;
    color: black;
    background-image: url("bg.jpg");
    left: 0;
    right: 0;
    background-repeat: repeat;
    z-index: -1;
    
    ul {
        list-style-type: none;
    }
    
    #item {
        height: 250px;
        width: 70%;
        margin-bottom: 20px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 12px;
    }
    
    .imageSmall {
        float: left;
        width: 200px;
        height: 200px;
        margin: 20px 0 0 20px;
        border: 5px solid white;
        outline: #dadada solid 1px;
    }
    
    .image {
        position: relative;
        width: 30%;
        height: 30%;
        z-index: 5;
    }
    
    .imageBox {
        position: fixed;
        border: 2px solid green;
        width: 45em;
    }
    
    .info {
        position: absolute;
        margin-left: 20%;
         
        .title, .instr, .ingrd {
            color: black;
            font: 12px #838383 droidSans;
            text-shadow: 1px 1px white;
        }
        .title {
            font-size: 20px;
        }
    }
    
}
