.mainContainer > * {
    margin-left: 20%;
    margin-right: 20%
}

.ngView p:first-of-type {
    border-radius: 15px;
    box-shadow: 0px 1px #4f5861 inset; 
    background: -webkit-linear-gradient(#3e4852, #323b44);
    padding: 20px 30px;
    font: italic 12px georgia;
    text-shadow: 1px 1px black;
}

h1 {
    margin-bottom: 10px;
    font: 36px blackJack;
    background: -webkit-linear-gradient(#e4e4e4, #cfcfcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.topGradient {
    position: absolute;
    width: 60%;
    height: 50%;
    margin-top: -50px;
        margin-left: 20%;
    background: rgba(48,57,66,1);
background: rgba(48,57,66,1);
background: -moz-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
background: -webkit-gradient(radial, center  top, 0px, center center, 100%, color-stop(0%, rgba(48,57,66,1)), color-stop(59%, rgba(17,22,28,1)), color-stop(100%, rgba(17,22,28,1)));
background: -webkit-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
background: -o-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
background: -ms-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
background: radial-gradient(ellipse at center top, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303942', endColorstr='#11161c', GradientType=1 );
      background-repeat: no-repeat;
        z-index: -1;
}

.bottomGradient {
    position: absolute;
    width: 70%;
    height: 50%;
    margin-top: 25%;
    margin-left: 15%;
    background: rgba(48,57,66,1);
background: rgba(48,57,66,1);
background: -moz-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
background: -webkit-gradient(radial, center  top, 0px, center center, 100%, color-stop(0%, rgba(48,57,66,1)), color-stop(59%, rgba(17,22,28,1)), color-stop(100%, rgba(17,22,28,1)));
background: -webkit-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
background: -o-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
background: -ms-radial-gradient(center top, ellipse cover, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
background: radial-gradient(ellipse at center top, rgba(48,57,66,1) 0%, rgba(17,22,28,1) 59%, rgba(17,22,28,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303942', endColorstr='#11161c', GradientType=1 );
      background-repeat: no-repeat;
        z-index: -1;
}

body {
    background-color: #11161c; 
    color: white;
}

img {
    transition: -webkit-transform 0.25s ease;
}

img:active {
    -webkit-transform: scale(2);
}