<form>
    <h3>Add recipe</h3>
    Name: 
    <input type="text" ng-model="m.name" required /></br>
    Instructions: 
    <textarea ng-model="m.instructions" required ></textarea></br><!---->
    Picture: 
<input class="fileInput" id="file" type="file" fileread="m.img" accept="image/*" value="SJ" /><div class="labelBox" id="last"><label for="file">Select file</label></div></br>
    Ingredients: 
    <input type="text" ng-model="m.ingredients" required /><span> separate ingredients by comma</span></br>
<input type="submit" id="last" ng-click="add(m)" value="Add" />
<div class="recipeAdded" ng-if="successMessage">recipe added!</div>
</br>
    <img class="pizza" ng-if="added" src="../res/pizza_spin.gif"/>
</form>  

