<form>
    <span> Add Mandja:</span></br>
    Name: 
    <input type="text" ng-model="m.name" required /></br>
    Instructions: 
    <input type="text" ng-model="m.instructions"required /></br>
    Picture: 
<input class="fileInput" id="file" type="file" fileread="m.img" accept="image/*" value="SJ" /><div class="labelBox" id="last"><label for="file">Select file</label></div></br>
    Ingredients: 
    <input type="text" ng-model="m.ingredients" required /></br>
    
    <input type="submit" id="last" ng-click="add(m)" value="Add" />
</form>  