    Search
    <input type="text" ng-model="ingredient" />
    
    <div id="dots-pattern">
        
        <ul>
            <li id="item" ng-repeat="rec in recipes | filter:{ingredients: ingredient} | limitTo: limit as results">
                <a ui-sref="itemDetails({itemId: rec.id})" ng-click="getItem(this)" class="title">{{rec.name}}:</a></br>
                <img class="imageSmall" ng-src="{{rec.img._url}}" ng-click="handleClick(this)" alt="{{rec.name}}" >
          
                <div class="info">
                    <p id="multiline" class="instr"><span>Instructions:</span></br> {{rec.instructions}}</p></br>

                    <p id="multiline" class="ingrd"><span>Ingredients:</span></br>  {{rec.ingredients}}</p> </br> 
                </div>
            </li> 
        </ul>
<input id="last" type="submit" ng-hide="results.length === recipes.length" ng-click="limit = limit +5" value="Show more" />
    </div>
