<!--  <button  ng-click="refresh()">BUTTHOLE</button> -->
       <!-- Welcome, {{currentUser.get('username')}} -->

    Search
    <input type="text" ng-model="ingredient" />
    
    <div id="dots-pattern">
        
        <ul>
            <li id="item" ng-repeat="rec in recipes | filter:ingredient">
                <img class="imageSmall" ng-src="{{rec.img._url}}" ng-click="handleClick(this)" alt="{{rec.name}}" >
                
                <div class="info">
               
          <!--          <p>
                        {{rec.name}}: </br>
                        <p>Instructions:</p></br>
                        {{rec.instructions}} </br>
                        <span>Ingredients:</span>{{rec.ingredients}}
                    </p>
        -->

                    <p class="title">{{rec.name}}:</p></br>
                    <p class="instr"><span>Instructions:</span></br> {{rec.instructions}}</p> </br>
                    <p class="ingrd"><span>Ingredients:</span> {{rec.ingredients}}</p> </br> 

                </div>
            </li> 
        </ul>
    </div>
