body {
    background-color: #121212; 
}

.dropdown-content {
    box-shadow: 0px 1px #464646 inset; 
    background: -webkit-linear-gradient(#2e2e2e, #121212);
}

.top {
    box-shadow: 0px 1px #464646 inset;
    background: -webkit-linear-gradient(#2e2e2e, #121212);
}

.topGradient {
    background: #2e2e2e; /* Old browsers */
    background: -moz-radial-gradient(center top, ellipse cover,  #2e2e2e 0%, #121212 60%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center top, ellipse cover,  #2e2e2e 0%,#121212 60%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center top,  #2e2e2e 0%,#121212 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#121212',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#last {
    background: linear-gradient(#2e2e2e, #121212);
}

#last:hover {
    background: linear-gradient(#121212, #2e2e2e);
}