body {
    background-color: #111C16;
}

.dropdown-content {
    box-shadow: 0px 1px #4f6156 inset; 
    background: -webkit-linear-gradient(#32443b, #111C16);
}

.top {
    box-shadow: 0px 1px #4f6156 inset; 
    background: -webkit-linear-gradient(#32443b, #111C16);
}

.topGradient {
    background: #32443b; /* Old browsers */
    background: -moz-radial-gradient(center top, ellipse cover,  #32443b 0%, #111c16 60%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center top, ellipse cover,  #32443b 0%,#111c16 60%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center top,  #32443b 0%,#111c16 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32443b', endColorstr='#111c16',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#last {
    background: linear-gradient(#32443b, #111C16);
}

#last:hover {
    background: linear-gradient(#111C16, #32443b);
}