<div>
    <p>{{ message }}</p>
    
    <div ng-hide="userLoggedIn">
      <a href="#login">Login</a>
      <a href="#register">Register</a>
    </div>
    
    <div ng-show="userLoggedIn">
        Welcome, {{currentUser.get('username')}}
    </div>
    
    <div ng-show="userLoggedIn">
        <button ng-click="logOut()">Log out</a>
    </div>
    
    <div ng-show="userLoggedIn">
        <input type="text" ng-model="ingredient" />
        <ul>
            <li ng-repeat="rec in recipes | filter:ingredient">
                <img ng-src="{{rec.img._url}}">
                <span>{{rec.name}}: {{rec.instructions}} - {{rec.ingredients}}</span>
            </li>
        </ul>
    </div>
    
</div>